<%= stylesheet_link_tag    'lists/index', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'lists/wizard', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'lists/index', 'data-turbolinks-track': 'reload' %>
<%= render 'wizard' %>
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Listas</h1>
    <p class="lead text-muted">Escolha uma lista pronta  ou crie a sua lista personalizada</p>
    <p>
      <%= link_to new_list_path, {remote: true, class: 'btn btn-primary my-2', 'data-toogle': 'modal', 'data-target': '#newList'} do %>
        <span>Criar lista <%= fa_icon 'angle-double-right' %></span>
      <% end %>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @lists.each_with_index do |l, i| %>
        <% i += 1 %>
        <%= render 'lists', l: l, i: i %>
      <% end %>
    </div>
  </div>
</div>


<div class="modal fade" id="newList" tabindex="-1" role="dialog" aria-labelledby="newListLabel" aria-hidden="true">

</div>
