<%= stylesheet_link_tag    'lists/index', media: 'all', 'data-turbolinks-track': 'reload' %>
<section class="text-center wizard">
  <div class="container">
    <div class="tab-list wizard">
      <div class="wizard__wizard-item-first">
        <span class="wizard__item"><%= fa_icon "check-circle", class: 'fa-lg wizard__item' %> Escolha sua lista</span>

      </div>
      <span class="border h-100"></span>
      <div class="wizard__wizard-item-last">
        <span class="wizard__item"><%= fa_icon "check-circle", class: 'fa-lg wizard__item' %> Adicione seus produtos</span>
      </div>
    </div>
  </div>
</section>
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Listas</h1>
    <p class="lead text-muted">Escolha uma lista pronta  ou crie a sua lista personalizada</p>
    <p>
      <%= link_to 'Criar lista >>', new_list_path, {remote: true, class: 'btn btn-primary my-2', 'data-toogle': 'modal', 'data-target': '#newList'} %>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @lists.each_with_index do |l, i| %>
        <% i += 1 %>
        <%= render 'lists', l: l, i: i %>
      <% end %>
    </div>
  </div>
</div>


<div class="modal fade" id="newList" tabindex="-1" role="dialog" aria-labelledby="newListLabel" aria-hidden="true">

</div>
