<%= javascript_include_tag 'lists/product_items/new', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'lists/wizard', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'lists/product_items/new', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= render 'lists/wizard' %>
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading" data-list-category="<%= @list.category_id %>"><%= @list.name %></h1>
    <p class="lead text-muted">Procure seus produtos
    <p>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Filtrar por categoria
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <% Category.all.each do |c| %>
        <div class="form-check form-check-inline">
          <input class="form-check-input categoryFilter" type="radio" name="inlineRadioOptions" value="<%= c.id %>">
          <label class="form-check-label" for="inlineRadio1"><%= c.name %></label>
        </div>
      <% end %>
    </div>
    <p>
    <div id="cover">
      <%= form_with url: search_category_products_path(category_id: @list.category_id), method: :get, id: 'form-search-product' do |f| %>
        <div class="tb">
          <div class="td">
            <%= f.hidden_field :category_id %>
            <%= f.text_field :name, placeholder: 'Nome do produto', required: true %>
          </div>
          <div class="td" id="s-cover">
            <%= button_tag type: 'submit', id: "submit-product" do %>
              <%= fa_icon "search", class: 'fa-2x' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    </p>
  </div>
</section>
<section id="add-product">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-9" id="status-create-product"></div>
      <div class="text-right col-12 col-sm-3">
        <%= form_with url: list_product_items_path, id: 'create-product-item' do |f| %>
          <%= f.hidden_field 'list_id', value: @list.id %>
          <%= f.hidden_field "product_ids[]", id: 'product_ids' %>
          <%= f.submit 'Adicionar produtos a lista', class: 'btn btn-primary add-product-button', disabled: true %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row" id="product">
      <%#= render 'product' %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div id="paginator">
      <%#= paginate @product_items, remote: true, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm", nav_class: "d-inline-b" %>
    </div>
  </div>
  <div class="pb-2 pl-5">
    <div class="row justify-content-center">
      <span class="pt-2 pr-5 pl-2 pager-info ">
          <%#= "Visualizando #{@product_items.current_page} - #{@product_items.total_pages}  de #{@list.product_items_count}
            registros" %>
        </span>
    </div>
  </div>

</div>